<%= form_with model: @article, local: true do |form| %>
    <% if @article.errors.any? %>
    <div id = "error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %>
        prohibited this article from being saved:</h2>
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :theater %><br>
        <%= form.text_field :theater %>
    </p>

    <p>
        <%= form.label :watched_date %><br>
        <%= form.datetime_field :watched_date %>
    </p>

    <div class="field" id="star">
        <%= form.label :rate,  "Rate" ,id: "e"%>
        <%= form.hidden_field :rate, id: :review_star %>
    </div>

    <script>
        $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'article[rate]',
        });
    </script>

    <p>
        <%= form.label :text %><br>
        <%= form.text_area :text %>
    </p>

    <p>
        <%= form.submit %>
    </p>

<% end %>